
.generalInformation {
    grid-row: 1/4;
    margin: auto;
}

.generalInformation fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    max-width: 200px;
}

.inputImage {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

.photoDiv {
    cursor: pointer;
    max-width: 180px;
}

.professionalPhoto {
    border-radius: 50%;
    width: 220px;
    cursor: pointer;
}

.displayGeneralDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.25rem;
    max-width: 200px;
}

.displayGeneralDiv button {
    border: none;
    background-color: white;
}

.generalInput {
    display: flex;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 30px;
}

.generalInput input{
    border: none;
    max-width: 200px;
}

.generalInput input:focus {
    outline: none;
}

.generalInput button {
    background-color: white;
    border: none;
}



.onlineDiv {
    display: flex;
    justify-content: space-between;
}

.onlineDiv button{
    border: none;
    background-color: white;
}