.skillsDiv {
    grid-row: 4/5;
}

.skillsTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    padding-inline-start: 0.75em;
    margin-left: 5px;
}

.skillsTitle button {
    border: none;
    background-color: white;
}

.skillsInput {
    display: flex;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 30px;
    max-width: 210px;
    margin-left: 20px;

}

.skillsInput input {
    border: none;
    max-width: 200px;
}

.skillsInput input:focus {
    outline: none;
}

.skillsInput button {
    background-color: white;
    border: none;
}

.skillsDisplayDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    max-width: 200px;
    margin-left: 20px;
}

.skillsDisplayDiv button {
    border: none;
    background-color: white;
}
