.practicalDiv {

}

.workHTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.workHTitle button {
    background-color: white;
    border: none;
}
.practicalInput {

}

.practicalDisplay {

}