.practicalDiv {

}

.workHTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.workHTitle button {
    background-color: white;
    border: none;
}
.practicalInput {

}

.practicalDisplay {

}

.dialogForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

dialog {
        top: 50%;
            bottom: 50%
}

.dialogForm label {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.educationInput {
    font-size: smaller;
}

.educationInput button {
    background-color: white;
    border: none;
}

.educationDisplayDiv {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    border-bottom: 1px solid #888888;
}

.eduDisplayFlex button {
    background-color: white;
    border: none;
}

.eduDisplayFlex {
    display: flex;
    justify-content: space-around;
}

.companyName {
    margin-left: 10px;
}

.dateDiv {
    display: flex;
    width: 60px;
}